@charset "utf-8";

*{
    /*height: 100%;*/
}

body{
    background-image:linear-gradient(to right, #F2E5D5,#D9CBBA ) ;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 50px 50px 15px #d7c1a689;
    width: 600px;
    padding: 10px;
    margin:auto ;
}


h1{
    color: #261A0B;
    text-align: center;
    text-shadow: 1px 1px 0px #170f07a6;

}

h2{
    color: #5d4f3a;
}


p{
    text-align: justify;
}